.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 339px;
    height: 430px;
    background-image: radial-gradient(100% 100% at 100% 0, #26c9f6 0  , #2a3dce 100%);
    color: white;
    box-shadow: 2px 2px 4px burlywood;
}
h5:hover{
    font-size: 1.2rem;
    text-shadow: 0 0 2px black;
}

